/* Custom styles for CSV to JSON app */

/* Set a background color for the body */
body {
    background-color: #f8f9fa;
    }
    
    /* Style the header */
    h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    }
    
    /* Style the file upload form */
    .form-group {
    margin-bottom: 2rem;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    }
    
    /* Style the submit button */
    .btn-primary {
    background-color: #ffcc80;
    border-color: #ffcc80;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.2s ease;
    margin-right: 10px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    }
    
    /* Add a hover effect to the submit button */
    .btn-primary:hover {
    background-color: #ffa726;
    border-color: #ffa726;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
    
    /* Style the JSON data output */
    pre {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-top: 2rem;
    overflow-x: auto;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 14px;
    line-height: 1.5;
    }
    
    /* Responsive styles */
    @media (max-width: 576px) {
    h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    }
    
    .form-group {
    margin-bottom: 1rem;
    }
    
    pre {
    margin-top: 1rem;
    }
    }
    
    /* Style the alerts */
    .alert {
    margin-top: 20px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
    
    /* Style the spinner */
    .spinner-border {
    margin-top: 20px;
    display: block;
    width: 3rem;
    height: 3rem;
    border-width: 0.25em;
    border-style: solid;
    border-top-color: rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-left-color: #f39c12;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
    }
    
    @keyframes spinner-border {
    to {
    transform: rotate(360deg);
    }
    }