{% extends 'base.html' %}

{% block content %}
  <div class="container mt-3">
    <h1 class="mb-3">Data Table</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            {% for column in columns %}
              <th>{{ column.data }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in data_list %}
            <tr>
              {% for value in row %}
                <td>{{ value }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
