<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<!-- Bootstrap styles -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Custom styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('views.index') }}">CSV to JSON Converter</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('views.data_table') }}">API Table</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('views.search') }}">API Search</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('views.file_manager') }}">File Manager</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container mt-5">
		{% block content %}
		{% endblock %}
	</div>
<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>

<!-- Popper.js -->
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

<!-- Bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- Custom scripts -->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</html>
